.item {
    width: 100%;
    height: 4rem;
    padding: 1rem 3rem;
    background: var(--color-secondary-dark);
    border-radius: var(--border-radius-small);
    border-left: 5px solid var(--color-red);
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow-small);
    margin-bottom: 1rem;
    user-select: none;
    transition: transform 0.3s;

    @media (max-width: 530px) {
        flex-wrap: wrap;
        height: 8rem;
    }

    &:hover {
        transform: translateY(-2px);
    }

    &__name {
        width: 30%;

        @media (max-width: 530px) {
            width: 70%;
        }
    }

    &__date {
        width: 25%;

        @media (max-width: 530px) {
            width: 70%;
            display: flex;
            justify-content: flex-start;
            order: 3;
        }
    }

    &__amount {
        width: 25%;
        display: flex;
        justify-content: flex-end;

        @media (max-width: 530px) {
            order: 2;
            width: 30%;
            justify-content: flex-end;
        }
    }

    &__controls {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;

        @media (max-width: 530px) {
            width: 30%;
            order: 4;
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: var(--color-secondary-light);

        &:hover {
            fill: var(--color-red);
            cursor: pointer;
        }

        &--edit:hover {
            fill: var(--color-yellow);
        }
    }
}

.item.investment {
    border-color: var(--color-blue);
}

.item.income {
    border-color: var(--color-primary);
}
