.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15000;

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--border-radius-large);
        position: relative;
        width: 12rem;
        height: 12rem;
        background: rgba(#fff, 0.1);
        backdrop-filter: blur(2px);
        z-index: -1;
        box-shadow: var(--box-shadow-medium);

        & > div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 6.4rem;
            height: 6.4rem;
            margin: 8px;
            border: 8px solid;
            border-radius: 50%;
            animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: var(--color-primary) transparent transparent
                transparent;

            &:nth-child(1) {
                animation-delay: -0.45s;
            }
            &:nth-child(2) {
                animation-delay: -0.3s;
            }
            &:nth-child(3) {
                animation-delay: -0.15s;
            }
        }
    }
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
