.user {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &__photo-container {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: var(--box-shadow-large);
    }

    &__data-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__name {
        font-size: var(--font-size-small);

        &:hover {
            color: var(--color-primary);
        }
    }

    &__email {
        color: var(--color-primary);
    }
}
